@media only screen and (max-width: 892px) {
  .banner-1 .banner-container {
    column-gap: 0px;
    flex-direction: column;
  }
  .banner-1 .banner-container .banner-content {
    flex-basis: auto;
    margin-bottom: 10px;
  }
  .footer-banner {
    max-width: 100%;
    background: url("../images/call-center.png") no-repeat;
    background-size: cover;
    height: 600px;
    margin-left: auto;
    position: relative;
  }
  .footer-banner .footer-banner-content {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    max-width: 300px;
    padding: 20px;
  }
  .partners .partner-container .partners-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media only screen and (max-width: 766px) {
  :root {
    --primaryColor: #5c5050;
    --seconderyColor: #2c2020;
    --colorBlack: #000;
    --colorWhite: #fff;
    --btnBgColor: #5c5050;
    --btnColor: #f1e8e8;
  }
  footer .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    border-bottom: 1px solid #424040;
  }
  .nav-bar > ul {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    display: none;
    border-top: 1px solid var(--colorWhite);
  }
  .nav-bar > ul > li > ul {
    position: absolute;
    top: 100%;
    left: -30%;
    background: var(--seconderyColor);
    z-index: 999;
  }
  .top-nav .top-nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .top-nav .top-nav-container a {
    font-size: 12px;
  }
  .top-nav .top-nav-container .top-nav-right {
    display: none;
  }
  footer .footer-container {
    padding: 0 10px;
  }
  footer .footer-bottom {
    max-width: 1440px;
    margin: 10px auto 0;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    color: var(--colorWhite);
    flex-wrap: wrap;
    gap: 20px;
  }
  .menu-icon {
    display: block;
    background: var(--primaryColor);
    padding: 10px 20px;
  }
  .menu-icon button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    cursor: pointer;
  }
  .menu-icon button:hover {
    background: var(--colorBlack);
    color: var(--colorWhite);
  }
  .nav-bar > ul > li > button {
    background: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border: none;
    font-size: 20px;
    margin-top: 5px;
    display: block;
  }
  .nav-bar > ul > li > button:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    color: var(--colorWhite);
  }
  .top-banner img {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 54px;
  }
  .top-banner {
    background-position: center;
  }
  .banner-1 .banner-container img {
    max-width: 90%;
  }
}
@media only screen and (max-width: 1440px) {
  .top-banner img {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 2px;
  }
}
